<div class="container">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail do %>
      <div class="col-sm-4" >
        <div class="card my-card">
          <div class="card-img">
            <%= image_tag("https://source.unsplash.com/random/", width: '100%') %>
          </div>
          <div class="flex-container card-body">
            <h3 class="card-title"><%= cocktail.name %></h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
